<div class="list-container">
  <div class="action-container">
    <a mat-fab extended color="primary" [routerLink]="['/create-product']">
      <mat-icon>add</mat-icon>
      Novo Produto
    </a>
  </div>

  <div class="products-grid">
    @for (product of products(); track product.id) {
      <div class="product-item">
        @defer(on immediate) {
          <app-card
            [product]="product"
            (edit)="onEdit(product)"
            (delete)="onDelete(product)"
          ></app-card>
        }
      </div>
    } @empty {
      @defer(on immediate) {
        <app-no-items></app-no-items>
      }
    }
  </div>
</div>
